 
.font1{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
  }
  
 /* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    margin: 28px 160px;
}
.nav-title{
    font-weight: bold;
    font-size: 34px;
    color: red;
    
}
.nav-title-spancolor{
    color: green;
}
nav ul li{
    list-style: none;
}
.nav-button{
    background-color: #F5F5F5;
    color: green;
    font-weight: 600px;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 8px;
    border-color: green;
    
}

/* banner style */
.banner{
    background-color: #C6E4D6;
    border-radius: 24px;
    margin: 29px 158px 45px 158px; 
     
}
.banner-sub-title{
    color: #0E0E0E ;
    opacity: 0.6;
    font-size: 16px;
    font-weight: 400px;
    margin-bottom: 10px;
}
.banner-title{
    font-size: 44px;
    font-weight: bold;
}
.baner-about{
    display: flex;
    justify-content: center;
}
.banner-image{
    margin: 80px 59px 80px 64px ;
}
.banner-content{
    margin: 115px 64px 115px 59px;
}
.banner-button{
    background-color: green;
    font-size: 15px;
    border-radius: 8px;
    text-align: center;
    padding: 15px 20px;
    color: aliceblue;
    border: none;
}

/* pillar style */
.pillar-title{
    margin: 80px 156px 45px 156px; 
    font-size: 28px;
    font-weight: bold;
   
}
.pillar-container{
    margin: 29px 133px 45px 133px;
    display: flex;
    gap: 40px;
    padding: 24px;
    
}
.pillar-container-description{
    font-size: 14px;  
}
.pillar-container-details{
    box-shadow: 0px 6px 40px 0px rgba(0, 0, 0, 0.20) ;
    padding:24px ;
    border-radius: 16px;   
}

/* future style */

.future-tital{
    margin: 80px 155px 0px 155px; 
    font-size: 30px;
    font-weight: bold;
   
}
.future-description{
    margin: 24px 155px 26px 155px;
    font-size: 16px;
    opacity: 0 6;
    color: rgba(14, 14, 14, 0.7);
}
.future-container{
    display: flex;
    margin: 22px 124px 45px 124px;
    padding: 32px;
    gap: 28px;
}
.future-details{
    box-shadow:0px 6px 4px rgba(0, 0, 0, 0.25) ;
    padding: 32px;
    border-radius: 16px;
}

.future-container-title{
    font-size: 20px;
    font-weight: bold;
}
.future-container-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
.future-details1{
   background-color:rgba(84, 144, 245, 0.2);
   opacity: 0px 6px;
   border-radius: 16px;
   padding: 32px;
}
.future-button1{
    background-color: rgba(84, 144, 245, 1);
    font-size: 16px;
    border-radius: 8px;
    text-align: center;
    padding: 15px 20px;
    color: #F5F5F5;
    border: none;
    margin-top: 24px;
}

.future-details2{
    background-color:rgba(198, 228, 214, 1);
    opacity: 0px 6px;
    border-radius: 16px;
    padding: 32px;
}
.future-button2{
    background-color:rgba(9, 161, 92, 1);
    font-size: 16px;
    border-radius: 8px;
    text-align: center;
    padding: 15px 20px;
    color: #F5F5F5;
    border: none;
    margin-top: 24px;
}

.future-details3{
    background-color:rgba(247, 235, 207, 1);
    opacity: 0px 6px;
    border-radius: 16px;
    padding: 32px;
}

.future-button3{
    background-color:rgba(255, 194, 57, 1);
    font-size: 16px;
    border-radius: 8px;
    text-align: center;
    padding: 15px 20px;
    color: #F5F5F5;
    border: none;
    margin-top: 24px;
}