 
.font1{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    background-color:#FFFFFF;
    
  }
 /* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    margin: 28px 160px;
}
.nav-title{
    font-weight: bold;
    font-size: 34px;
    color: red;
    
}
.nav-title-spancolor{
    color: green;
}
nav ul li{
    list-style: none;
}
.nav-button{
     background-color: #F5F5F5;
        color: green;
        font-weight: 600px;
        font-size: 18px;
        padding: 15px 30px;
        border-radius: 8px;
        border-color: green;
        cursor: pointer;
        
    }

.nav-button:hover {
    background-color:goldenrod;
}

/* banner style */
.banner{
    background-color: #C6E4D6;
    border-radius: 24px;
    margin: 29px 158px 45px 158px; 
     
}
.banner-sub-title{
    color: #0E0E0E ;
    opacity: 0.6;
    font-size: 16px;
    font-weight: 400px;
    margin-bottom: 10px;
}
.banner-title{
    font-size: 44px;
    font-weight: bold;
}
.baner-about{
    display: flex;
    justify-content: center;
}
.banner-image{
    margin: 80px 59px 80px 64px ;
}
.banner-content{
    margin: 115px 64px 115px 59px;
}
.banner-button{
    background-color: green;
    font-size: 15px;
    border-radius: 8px;
    text-align: center;
    padding: 15px 20px;
    color: aliceblue;
    border: none;
    cursor: pointer;
}

.banner-button:hover{
    background-color: black;
}

/* pillar style */
.pillar-title{
    margin: 80px 156px 45px 156px; 
    font-size: 28px;
    font-weight: bold;
   
}
.pillar-container{
    margin: 29px 133px 45px 133px;
    display: flex;
    gap: 40px;
    padding: 24px;
    
    
}
.pillar-container-description{
    font-size: 14px;  
}
.pillar-container-details{
    box-shadow: 0px 6px 40px 0px rgba(0, 0, 0, 0.20) ;
    padding:24px ;
    border-radius: 16px;   
}

/* future style */

.future-tital{
    margin: 80px 155px 0px 155px; 
    font-size: 30px;
    font-weight: bold;
   
}
.future-description{
    margin: 24px 155px 26px 155px;
    font-size: 16px;
    opacity: 0 6;
    color: rgba(14, 14, 14, 0.7);
}
.future-container{
    display: flex;
    margin: 22px 124px 45px 124px;
    padding: 32px;
    gap: 28px;
}
.future-details{
    box-shadow:0px 6px 4px rgba(0, 0, 0, 0.25) ;
    padding: 32px;
    border-radius: 16px;
}

.future-container-title{
    font-size: 20px;
    font-weight: bold;
}
.future-container-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
.future-details1{
   background-color:rgba(84, 144, 245, 0.2);
   opacity: 0px 6px;
   border-radius: 16px;
   padding: 32px;
}
.future-button1{
    background-color: rgba(84, 144, 245, 1);
    font-size: 16px;
    border-radius: 8px;
    text-align: center;
    padding: 15px 20px;
    color: #F5F5F5;
    border: none;
    margin-top: 24px;
    cursor: pointer;
}
.future-button1:hover{
    background-color: black;
}

.future-details2{
    background-color:rgba(198, 228, 214, 1);
    opacity: 0px 6px;
    border-radius: 16px;
    padding: 32px;
}
.future-button2{
    background-color:rgba(9, 161, 92, 1);
    font-size: 16px;
    border-radius: 8px;
    text-align: center;
    padding: 15px 20px;
    color: #F5F5F5;
    border: none;
    margin-top: 24px;
    cursor: pointer;
}
.future-button2:hover{
    background-color: black;
}

.future-details3{
    background-color:rgba(247, 235, 207, 1);
    opacity: 0px 6px;
    border-radius: 16px;
    padding: 32px;
}

.future-button3{
    background-color:rgba(255, 194, 57, 1);
    font-size: 16px;
    border-radius: 8px;
    text-align: center;
    padding: 15px 20px;
    color: #F5F5F5;
    border: none;
    margin-top: 24px;
    cursor: pointer;
}
.future-button3:hover{
    background-color: black;
}

/* younus style */
.younus{
    margin: 30px 155px 80px 155px; 
/* font-size: 16px; */
padding: 40px 24px;
border-radius: 16px;
box-shadow: 0px 4px 4px rgb(238, 231, 231);
background-color: rgb(243, 242, 242);
border-top: 3px;
background-image: url(../assets/quote-bg.png) ;
background-repeat: no-repeat;
/* background-position: 25px 1192px 167px 24px; */
/* background:25px 1192px 167px 24px; */
background-position-x: 48px;
background-position-y: 65px;


}
.younus-title{
font-size: 20px;
font-weight: 400px;
margin: 16px 24px 4px 24px;
}
.younus-description{
    margin: 48px 24px 12px 24px;
    font-size: 19px;
    color: rgba(14, 14, 14, 0.8);
}
.younus-sub-title{
    margin: 4px 24px 48px 24px;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.6);
}
.younus2{
    margin:30px 24px
}

/* news style */
.news-about1{
    display: flex;
    justify-content: center;
    margin: 30px 155px 80px 155px;
    box-shadow: 0px 4px 8px rgb(199, 191, 191);
    border-radius: 24px;
    gap: 32px;
    background-color: white;
}
.news-content1{
    margin: 56px 32px 56px 48px;
}
.news-image1{
    border-radius: 16px;
    margin: 48px 48px 48px 32px;
}
.news1{
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 6px;
}
.news-icon1{
    margin-top: 6px;
    margin-bottom: 6px;
}
.news-date1{
  font-size: 16px;  
  color: rgba(14, 14, 14, 0.7);
}
.news-time-about1{
    display: flex;
    gap: 12px;
    margin-bottom: 6px;
    color: rgba(14, 14, 14, 0.7);
}
.news-description1{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-top: 0px;
}
.news-button1{
    font-size: 18px;
    background-color: green;
    padding: 13px 26px;
    border-radius: 8px;
    border: none;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}
.news-button1:hover{
    background-color: black;
}
.news-title{
    font-size: 40px;
    font-weight: bold;
    margin: 30px 155px 30px 155px ;
}
.news-title-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin: 20px 155px 30px 155px ;
}

/* news2 style */
.news-image2{
    border-radius: 16px;
    margin: 48px 32px 48px 48px;
}
.seconde-news{
    margin: 24px 155px 80px 155px;
    display: flex;
    justify-content: center;
    gap: 32px;
    box-shadow: 0px 4px 8px rgb(199, 188, 188);
    border-radius: 24px;
    background-color: white;
}
.news-button2:hover{
    background-color: black;
}
.news-button2{
    font-size: 18px;
    background-color: green;
    padding: 13px 26px;
    border-radius: 8px;
    border: none;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}
.news-description2{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-top: 0px;
}
.news-date2{
    font-size: 16px;  
    color: rgba(14, 14, 14, 0.7);
}
.news-time-about2{
    display: flex;
    gap: 12px;
    margin-bottom: 6px;
    color: rgba(14, 14, 14, 0.7);
}
.news-icon2{
    margin-top: 6px;
    margin-bottom: 6px;
}
.news2{
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 6px;
}

/* donat style */
 .donate{ 
    margin: 30px 248px 32px 248px;
    /* gap: 24px; */
    
} 

.donate-title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: center;
}
.donate-title-description{
    font-size: 18px;
    text-align: center;
   margin: 24px 50%;
  color: rgba(14, 14, 14, 0.7);

}
.money{
    margin: 32px 104px 32px 104px;
    justify-content: space-around;
   display: flex;
}
.money-button1{
    padding: 30px;
    font-size: 30px;
    font-weight: bold;
    border-radius:16px ; 
    border: none; 
    box-shadow: 0px 4px 4px rgba(14, 14, 14, 0.15); 
    margin: 32px 14px 32px 14px;
    cursor: pointer;
    
}
.money-button1:hover{
    background-color:green;
}
.money-button2{
    padding: 30px;
    font-size: 30px;
    font-weight: bold;
    border-radius:16px ; 
    border: none; 
    box-shadow: 0px 4px 4px rgba(14, 14, 14, 0.15);
    margin: 32px 14px;
    background-color: aquamarine;
    cursor: pointer;
}
.money-button2:hover{
    background-color:green;
}

.money-button3{
    padding: 30px;
    font-size: 30px;
    font-weight: bold;
    border-radius:16px ; 
    border: none; 
    box-shadow: 0px 4px 4px rgba(14, 14, 14, 0.15);
    margin: 32px 14px;
    cursor: pointer;
    
}
.money-button3:hover{
    background-color:green;
}
.money-button4{
    padding: 30px;
    font-size: 30px;
    font-weight: bold;
    border-radius:16px ; 
    border: none; 
    box-shadow: 0px 4px 4px rgba(14, 14, 14, 0.15);
    margin:  32px 14px 32px 14px;
    cursor: pointer;
    
}
.money-button4:hover{
    background-color:green;
}

 /* .donate-money */
 .amount input {
    width: 100%;
        padding:  20px;
        border: none;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        font-size: 16px; 
        text-align: center;
        margin-bottom: 32px;   
 }
 .donate-button{
    font-size: 18px;
    color: white;
    padding: 16px 36px;
    border: none;
    border-radius: 8px;
    background-color: green;
    cursor: pointer;
    margin-top: 16px;
 }
 .donate-button-center{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .donate-button:hover{
    background-color: black;
 }